<!doctype html>
<html lang="{{ .Lang }}">
<head>
	<meta charset ="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}
	</title>
	<link rel="icon" href="{{ "img/favicon.png" | relURL }}">
	<meta name="author" content="{{ $.Param "author" }}">
	<meta name="description" content="{{ $.Param "description" }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/styles.css" | relURL }}"/>
</head>
<body>
	{{ partial "pre-header.html" }}
	{{ partial "header.html" }}
	{{ partial "carousel.html" }}
	{{ block "main". }}
	{{ end }}
	{{ partial "reports.html" }}
	{{ partial "map.html" }}
	{{ partial "footer.html" }}
	<script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>
	<div id="vk_community_messages"></div>
	<script type="text/javascript">
		VK.Widgets.CommunityMessages("vk_community_messages", 151237294, {disableExpandChatSound: "1",disableNewMessagesSound: "1",tooltipButtonText: "Есть вопрос?"});
	</script>
	<script src="{{ "scripts/jquery-3.2.1.slim.min.js" | relURL }}"></script>
	<script src="{{ "scripts/popper.min.js" | relURL }}"></script>
	<script src="{{ "scripts/bootstrap.min.js" | relURL }}"></script>
</body>
</html>