<!doctype html>
<html lang="{{ .Lang }}">
<head>
	<meta charset ="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}
	</title>
	<link rel="icon" href="{{ "img/favicon.png" | relURL }}">
	<meta name="author" content="{{ $.Param "author" }}">
	<meta name="description" content="{{ $.Param "description" }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/styles.css" | relURL }}"/>
</head>
<body>
	{{ partial "header.html" }}
	{{ block "main". }}
	{{ end }}
	{{ partial "footer.html" }}
	<script src="{{ "scripts/jquery-3.2.1.slim.min.js" | relURL }}"></script>
	<script src="{{ "scripts/popper.min.js" | relURL }}"></script>
	<script src="{{ "scripts/bootstrap.min.js" | relURL }}"></script>
</body>
</html>