<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-lg-6 col-12 text-center text-lg-left my-auto">
                    <p><i class="fas fa-map-marker-alt pr-3"></i>
                        г. Иваново, Ириновский пр-т, д. 14, корп 1</p>
                </div>
                <div class="col-lg-6 col-12 text-center text-lg-right my-auto">
                    <a href="tel:78936437395">+7 (893) 643-7-395</a>
                </div>
            </div>
        </div>
    </div>
</div>