{{ define "main" }}
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <hr class="hr-1">
            <h1>Сервисный центр Mercedes-Benz</h1>
            <p>«Мерседес 37» один из немногих автосервисов мерседес в основе работы которого 
                лежит знание мельчайших деталей сервисного сопровождения и ремонта автомобилей 
                премиум класса при оптимальной стоимости работ.
            </p>
            <hr class="clearfix w-75">
            <p>Для ознакомления с нашими услугами воспользуйтесь меню в правом
                 верхнем углу или позвоните нам по телефону +7(812) 600-1-777 для
                  детальной консультации.
            </p>
            <hr class="clearfix w-75">
            <p>Опыт, профессионализм и внимательное отношение к каждому автомобилю 
                дополняется исключительным 
                уровнем обслуживания.
            </p>
            <hr class="clearfix w-75">
            <p>Четкое следование высоким стандартам качества работы в премиум-сегменте, позволяет
                 нам соответствовать высочайшим стандартам сервисного сопровождения вашего 
                 автомобиля и следовать традициям качества легендарного производителя <strong>Mercedes-Benz.</strong>
            </p>
            <hr class="clearfix w-75">
            <p>Мы обеспечиваем уровень обслуживания наравне с <strong>дилерским сервисом мерседес</strong>, благодаря 
                оптимизации бизнес-процессов функционирования автосервиса. Индивидуальный 
                подход к оценке работ обеспечивает оптимизацию затрат для своих клиентов 
                в два раза, в сравнении с дилерской сетью. Высокий сервис при оптимальной 
                цене позволяет нам многие годы успешно выигрывать в конкурентной борьбе.
            </p>
            <hr class="clearfix w-75">
            <p>Обслуживание и ремонт автомобилей производится на оборудовании, рекомендованным 
                заводом Daimler AG.
            </p>
            <hr class="clearfix w-75">
            <p>Доверие наших клиентов и грамотная оптимизация расходов на содержание 
                <strong>автомобилей премиум-класса</strong> — главный капитал и основа репутации «Мерседес 37».
            </p>
            <hr class="clearfix w-75">
            <h3>Мы будем рады лично продемонстрировать возможности совместной работы.
                    Приезжайте — рады помочь в обслуживании и ремонте вашего Mercedes-Benz.</h3>
            <div class="col-12 my-5 text-center">
                <button>Записаться на сервис</button>
            </div>
        </div>
    </div>
</div>
      
{{ end }}